.cupcake {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 500px;
  border-radius: 4px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  background: white;
  padding: 5px;
}

.headerText h2 {
  color: var(--colour-plum-primary);
  text-align: center;
}

.image {
  align-items: center;
}

.price {
  color: var(--colour-pink-primary)
}

.summary {
  color: var(--colour-plum-primary);
  text-align: center;
}